{% extends 'base.html' %}

{% block content %}

<main>
    <form method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Delete</button>
    </form>
</main>

{% endblock content %}