{% extends 'base.html' %}

{% block content %}
<main>
    <h1>My list</h1>
    <a href= "{% url 'todo_list_delete' todolist.id %}">Delete list</a> 
    <a href= "{% url 'todo_list_update' todolist.id %}">Edit list</a> 
    <div>
        {% for item in todolist.items.all %}
            <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
        {% endfor %}
    </div>
</main>
{% endblock content %}