{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My To-Do Lists</h1>
        <a href= "{% url 'todo_list_create' %}">Create a new list</a>  
        <a href= "{% url 'todo_item_create' %}">Create a new item</a> 
        <div>
            {% for list in todolist_list  %} <!-- django makes list name automatically, classname_listfield-->
            <a href="{%url 'todo_list_detail' list.id %}">{{ list.name }} </a>
            {% endfor %}
      </div>                
    </main>
    
{% endblock content %}